<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="c:\windows\system32\cmd.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="/c&#13;&#10;build.bat &#13;&#10;-t generateMappingJar &#13;&#10;-x C:\Users\Administrator\git\blur\blur-i2-bridge\src\main\resources\blur\resource\scheme\blur.scheme.xml &#13;&#10;-o C:\Users\Administrator\git\blur\blur-i2-bridge\lib\scheme.jar&quot;"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:\IBM\i2analyze\SDK\sdk-projects\master\"/>
</launchConfiguration>